@import "~normalize.css";
@import "~font-awesome/css/font-awesome.css";
@import "~src/variables.scss";
@import "~src/mixins.scss";

*, h1 {
  margin: 0;
  padding: 0;
  border: 0;
}

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: $font-family-opensans-regular;
}

.container {
  width: $container-width;
  margin: 0 auto;
}

@font-face {
  font-family: 'GothamProBold';
  src: url('../../fonts/GothamProBold.otf');
}

@font-face {
  font-family: 'GothamProMedium';
  src: url('../../fonts/GothamProMedium.otf');
}

.icon {
  padding: 8px;
  font-size: $font-size-large;
  color: $color-gray;

  &:hover {
    color: black;
  }

  @include respond-to($tablet-portrait) {
    font-size: $font-size-x-large;
  }
}
